// src/css/quasar.variables.sass

$primary   : #47647f
$secondary : #b4c955
$accent    : #9C27B0

$dark      : #555555
$dark-page : #121212

$positive  : #e5b70e
$negative  : #C10015
$info      : #3d8a99
$warning   : #fc5b81